<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TestHarness.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <userSettings>
    <TestHarness.Properties.Settings>
      <setting name="PathToMSBuild" serializeAs="String">
        <value>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\msbuild.exe</value>
      </setting>
      <setting name="PathToMaven" serializeAs="String">
        <value>mvn.bat</value>
      </setting>
      <setting name="PathToJava" serializeAs="String">
        <value>java</value>
      </setting>
      <setting name="PathToNode" serializeAs="String">
        <value>node.exe</value>
      </setting>
      <setting name="PathToPython2" serializeAs="String">
        <value>python.exe</value>
      </setting>
      <setting name="PathToPython3" serializeAs="String">
        <value>python.exe</value>
      </setting>
      <setting name="PathToPythonPackageIndex" serializeAs="String">
        <value>pip</value>
      </setting>
      <setting name="PathToNpm" serializeAs="String">
        <value>X:\NodeJS\npm.cmd</value>
      </setting>
      <setting name="StateFileName" serializeAs="String">
        <value>state.json</value>
      </setting>
      <setting name="MapFileName" serializeAs="String">
        <value>map.txt</value>
      </setting>
      <setting name="LogFileName" serializeAs="String">
        <value>log.txt</value>
      </setting>
      <setting name="BotMetaFileName" serializeAs="String">
        <value>bot.json</value>
      </setting>
      <setting name="MaxBotRuntimeSeconds" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="BotMoveFileName" serializeAs="String">
        <value>move.txt</value>
      </setting>
    </TestHarness.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
    </assemblyBinding>
  </runtime>
</configuration>