<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GameEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameEngine.Properties.Settings>
            <setting name="SmallMapSize" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="MeduimMapSize" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="LargeMapSize" serializeAs="String">
                <value>41</value>
            </setting>
            <setting name="DefaultBombBagSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultBomRaduis" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DesctructableWallFrequency" serializeAs="String">
                <value>0.35</value>
            </setting>
            <setting name="BombTimerMultiplier" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PointsWall" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PointsPlayer" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PointsMovementMultiplierPercentage" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PointsKilled" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SuperPowerUpPoints" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BombRaduisPowerUpMultiplier" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BombBagPowerUpMultiplier" serializeAs="String">
                <value>2</value>
            </setting>
        </GameEngine.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
